// var & functions
@use "./abstracts/var";

// reset & layout
@use "./abstracts/reset";

// colors

// components (button, card, navbar)
@use "components/card";
// utilities (margin, padding, opacity)
